.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  z-index: 9999;
  background: #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #FFFFFF;
  padding: 30px;
}