.bill-item {
  padding: 30px;
  box-shadow: rgba(31, 131, 216, 0.55) 0px 4px 12px;
  margin: 10px 0px;
  cursor: pointer;
}
.row-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bill-item button{
  padding: 12px;
  margin: 8px 0px;
  border-radius: 4px;
  border-width: 0px;
  outline: none;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.edit-btn {
  background: blue;
  color: white;
}
.delete-btn {
  background: white;
  border-width: 1px;
  border: 1px solid #cccccc75;
  color: red;
}
.bill-amount, .bill-date, .bill-category, .bill-description {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0px;
}
.bill-amount {
  font-weight: bold;
}